.env
*.bak
.DS_Store

thefuck/**
!thefuck/settings.py

nvim/lazyvim.json

zsh/**
!zsh/.zshrc
.z

karabiner/assets
karabiner/automatic_backups

raycast/config.json
raycast/extensions

tmux/plugins

gh/hosts.yml
