.env
*.bak

thefuck/**
!thefuck/settings.py

.DS_Store
zsh/.zsh_history
zsh/.zsh_sessions
zsh/.zcompdump*
zsh/.zprofile
zsh/.zshrc.off
.z

karabiner/assets
karabiner/automatic_backups

kitty

raycast/config.json
raycast/extensions

skhd

tmux/plugins

gh/hosts.yml
